.gallery-selector-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

.gallery-selector {
  background: var(--theme-bg-primary);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.gallery-selector h3 {
  margin: 0 0 20px 0;
  font-size: 25px;
  color: var(--theme-text-primary);
  font-weight: 800;
}

.gallery-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.gallery-option {
  background: var(--theme-bg-secondary);
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 8px 25px rgba(245, 244, 244, 0.3) !important;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-option:hover {
  border-color: var(--theme-bg-primary);
}

.gallery-name {
  font-weight: 500;
  color: var(--theme-text-primary);
}

.gallery-count {
  color: var(--theme-text-secondary);
  font-size: 14px;
}

.selector-buttons {
  display: flex;
  gap: 65px;
  justify-content: center;
  margin-top: 30px;
}

.delete-btn {
  background: var(--theme-bg-tertiary);
  color: var(--theme-text-primary);
  border: none;
  border-radius: 15px;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background: var(--theme-bg-tertiary);
  transform: translateY(-2px) !important;
}

.selector-buttons {
  display: flex;
  gap: 55px;
  justify-content: center;
  margin-top: 20px;
}

.save-btn {
  background: var(--theme-bg-tertiary);
  color: var(--theme-text-primary);
  border: none;
  border-radius: 15px;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.save-btn:hover {
  background: var(--theme-bg-tertiary);
  transform: translateY(-2px);
}

.cancel-btn {
  background: var(--theme-bg-tertiary);
  color: var(--theme-text-primary);
  border: none;
  border-radius: 15px;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.cancel-btn:hover {
  background: var(--theme-bg-tertiary);
  transform: translateY(-2px) !important;
}

.gallery-checkbox-option {
  background: var(--theme-bg-secondary);
  border: 2px solid var(--theme-primary);
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.gallery-checkbox-option:hover {
  border-color: var(--theme-primary);
}

.gallery-checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

